body {
	background-color: #DDF9FD;
}

a {
	color: #FCFCFC;
	text-decoration: none;
}

a:hover {
	color: #DDF9FD;
	text-decoration: none;	
}

div.ots1 {
	font-family: Impact;
	font-size: 240px;
	color: #474747;
	float: left;
	padding-left: 80px;
	padding-top: 40px;
	padding-right: 5px;
	
}

div.ots2{
	font-family: Impact;
	font-size: 50px;
	color: #474747;
	padding-top: 90px;
}


table.links {
	padding: 20px;
	padding-left: 150px;
	padding-right: 200px;
	border-top-right-radius: 4em;
	background-color: #4EC8D9;
	
}

table.links tr {
	padding-right: 30px;
	text-align: center;
	color: #FCFCFC;
	font-family: Arial;
	font-weight: 900;
}

table.links td {
	align: center;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}


div.boxi {
	background-color: #FCFCFC;
	width: 875px;
    height: 600px;
    border: 1px dashed #2DADBF;
	padding: 20px;
	padding-top: 20px;
	float: left;
	margin-top: 10px;
	overflow: hidden;
}

h1.otsikko {
	font-family: Impact;
	letter-spacing: 2px;
	color: #0C9DB1;
	//text-align: center;
	position: relative;
	left: 50px;
}

h2.otsikko {
	font-family: Impact;
	letter-spacing: 1px;
	font-size: 20px;
	color: #0C9DB1;
	text-align: center;
	//position: relative;
	//left: 70px;
	font-weight: 100;
}

p {
	
	font-family: Tahoma;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 130%;
	color: #474747;
	
}


p.copy {
	font-family: Tahoma;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 130%;
	width: 170px;
	height: 300px;
	position: absolute;
	margin-top: 150px;
	text-align: right;
	color: #2DADBF;
}

div.table_div {
	width:400px;
	max-height:400px;
	overflow:auto;
	border-top:1px solid #2DADBF;
	//border-bottom:1px solid #2DADBF;
	float:left;
}

table.data {
	font-family: Arial;
	font-size: 14px;
	line-height: 200%;
}

table.data th {
	font-family: Arial;
	font-weight: 90;
	font-size: 16px;
	background-color: #2DADBF;
	color: white;
}

table.data td#row_title {
	font-family: Arial;
	font-weight: 90;
	font-size: 16px;
	background-color: #2DADBF;
	color: white;
}

table.data tr:nth-child(odd) {
	background-color: #DDF9FD;
}

table.data tr:nth-child(even) {
	background-color: white;
}

table.data td {
	color: #474747;
}

div.sources {
   overflow: hidden;
   height: 10px;
}

div.sources:hover {
   height: auto;
}

div.foodbox {
	border-left:1px dashed #2DADBF;
	border-top:1px solid #2DADBF;
	width:450px;
	height: 400px;
	padding-left: 10px;
	float:right;
}

form.new_food {
	font-family: Arial;
	text-transform: uppercase;
	color: #2DADBF;
	font-size: 14px;
	font-weight: 900;
	line-height: 190%;
	width: 400px;
	height: 450px;
	padding-right: 20px;
	border-right: dashed 1px #0C9DB1;
}

form.search {
	font-family: Arial;
	text-transform: uppercase;
	color: #2DADBF;
	font-size: 14px;
	font-weight: 900;
	line-height: 190%;
}

input {
	display: block;
}

input[type="text"].typical {
	font-family: Tahoma;
	color: #474747;
	padding: 5px;
	margin-left: 3px;
	border: solid 1px #2DADBF;
	transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"].typical:focus {
	border: solid 1px white;
	box-shadow: 0 0 5px 1px #0C9DB1;
   
}

input[type="radio"].effort{
	display:inline-block;
	width: 20px;
	height: 20px;
	cursor:pointer;
	-webkit-appearance: checkbox;
    -moz-appearance: checkbox;   
}

input[type="checkbox"].search{
	display:inline-block;
	width: 20px;
	height: 20px;
	cursor:pointer;
}

textarea.recipe {
	color: #474747;
	font-family: Tahoma;
	width: 390px;
	height: 240px;
	display:block;
	border: solid 1px #2DADBF;
	transition: box-shadow 0.3s, border 0.3s;
}

textarea.recipe:focus {
	border: solid 1px white;
	box-shadow: 0 0 5px 1px #0C9DB1;
}

button {
    border-radius: 0.5em;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 16px;
	color: #FCFCFC;
	background-color: #2DADBF;
	font-weight: 900;
}

select {
	font-family: Tahoma;
	width: 170px;
	height: 25px;
	border: solid 1px #2DADBF;
	color: #474747;
}

h3.alaotsikko {
	font-family: Impact;
	font-size: 15px;
	font-style: italic;
	color: #0C9DB1;
	text-align: center;
	font-weight: 100;
}

div.table_div td.info {
	font-family: Arial;
	text-transform: uppercase;
	color: #2DADBF;
	font-size: 14px;
	font-weight: 900;
}
